/* common styles */


/* header related styles */

header{
  background-image: url('../images/Banner\ Image.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: Merriweather;
  width: 100%;
  height: 100vh;
}

.bannar-contant{
  text-align: center;
}

.title-1{
  color: #FFF;
  font-size: 32px;
  font-weight: 400;
  padding-top: 180px;
}

.title-2{
  color: #FFF;
  font-size: 72px;
  margin-top: 10px;
  font-weight: 900;
  line-height: 95px;
}

/* discount section related styles */

.discount-contant{
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  font-family: Inter;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.off{
  color: #F00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 0;
}

.holiday{
  color: #F00;
  font-size: 24px;
  font-weight: 500;
}

.all{
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

/* midnight party section related styles */

.midnight-section{
  background-image: url('../images/Group\ 70.png'), url('../images/Vectorrr.png');
  background-repeat: no-repeat;
  background-position: center left 90%, center;
  margin-top: 150px;
} 

.midnight-party{
  padding: 140px;
  text-align: left;
}

.party-heading{
  color: #FFF;
  font-size: 64px;
  font-weight: 900;
  font-family: Merriweather;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 0;
}

.party-description{
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 600px;
}

.party-button{
  background-color: rgb(10, 2, 2, 0);
  color: #FFF;
  border: 0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

/* location section related styles */

.location{
  margin-top: 150px;
  background-color: rgb(245, 166, 19, .2);
  text-align: center;
  font-family: Inter;
}

.location-description{
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.Location-title{
  color: #F00;
}

.location-btn{
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  background-color: #F00;
  padding: 15px;
  border: 0;
  border-radius: 5px;
}

/* new offer section related styles */
.new-offer{
  display: flex;
  padding: 120px;
  justify-content: space-between;
  align-items: center;
}

.best-offer{
  max-width: 380px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.offer-title-1{
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.offer-title-2{
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-top: 0;
  padding-bottom: 0;
}

.offer-description{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.first-image{
  padding: 15px;
  border: 15px solid;
  border-radius: 463px;
  border: 15px solid #F00;
  margin: 20px;
}

.year-div{
  margin-left: 50px;
  max-width: 200px;
  font-family: Inter;
}

.year{
  color: #F00;
  font-size: 48px;
  font-weight: 700;
}

.year-description{
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* holiday 50% section related styles */

.holiday-sale{
  text-align: center;
  padding: 150px;
}

.functional{
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.holi{
  color: #F00;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.sale{
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.holiday-des{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.discount-image{
  background-image: url('../images/Group\ 44.png'), url('../images/Rectangle\ 1.png'), url('../images/Rectangle\ 2.png');
  background-repeat: no-repeat;
  background-position: left 75% bottom 75%, top right,bottom right;
}

/* portfolio section related styles */

.portfolio{
  padding: 100px;
}

.portfolio-description{
  text-align: left;
  max-width: 800px;
}

.portfolio-heading{
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.portfolio-title{
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

.portfolio-para{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.image-row{
  display: flex;
}

.portfolio-image{
  padding: 5px;
}

.portfolio-image:hover{
  opacity: .8;
}

/* subscribe section related styles */
.subscribe{
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 100px;
  text-align: center;
  margin: 100px;
}

.subscribe-header{
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

.subscribe-description{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

#email{
  margin-right: 0;
  border: 0;
  border-radius:  50px 0px 0px 50px;
  background: #FFF;
  padding: 20px;
  color: rgba(7, 2, 17, 0.30);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-right: -5px;
}

#subscribe-btn{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  border-radius: 0px 50px 50px 0px;
  background: #F00;
  padding: 19px;
  margin-left: 0;
}

/* footer related styles */
footer{
  background: #070211;
  padding: 100px;
  color: #FFF;
}

.contact-address,
.copyright-div{
  display: flex;
  justify-content: space-between; 
}

.address,
.copyright,
.contact{
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  padding-bottom: 20px;
}

.icon-links{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-img{
  padding: 10px;
}

.Unsubscribe-btn{
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  background-color: #070211;
  border: 0;
  padding: 20px;
}